div {
/* tag selector */
}



div div div .b1 {
    /* select specifically  */
}



.dropdown-content {
    display:none;
}

.dropdown:hover .dropdown-content {
    display:block;
}


button {
    background-color: brown;
    
}



.anim {
    animation-name: shiftColors;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes shiftColors {
    0%  { 
        background-color: aliceblue;
        position: fixed;    
        top: 20px;
        left: 20px;;
    }
    
    100%{
        background-color: azure;
        position: fixed;    
        top: 20px;
        left: 300px;
    }
}


.loader {
    width: 600px;
    height: 600px;;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.item {
    width: 50px;
    height: 100px;;
    background-color: black;
    animation-name: jump;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;

}

.item1 {background-color: chocolate;}

.item2 {background-color: crimson;
    animation-delay: 0.4s;}

.item3 {background-color: cyan; animation-delay: 0.8s;}

.item4 {background-color: darkorchid; animation-delay: 1.2s;}

.item5 {background-color: chartreuse; animation-delay: 1.6s;}


@keyframes jump {
    0%  { 
        position: relative;    
        top: 20px;
    }
    
    50%{
        position: relative;    
        top: 0px;
    }

    100%{
        position: relative;    
        top: 20px;
    }
}

.dark {
    background-color: rgb(44, 44, 44);
    color: rgb(217, 220, 223);
}